html {
  font-size: 10px;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.opt {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.rule-area textarea{
  height: 150px;
}

.fields {
  display: inline-flex;
  justify-content: center;
}

.field {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.field span {
  margin-bottom: 4px;
  font-size: 14px;
}
